{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>
    I am Asaf Soreq from Tichonet High School in Tel Aviv.<br>
    for my CS project I needed to build a website so I decided to build an frc scouting data analyzer.<br>
    I hope to interest more people in the FRC world in scouting because I believe that it is a crucial part of a teams' success in every competition.<br>
    I also hope that my website will be successful and that many teams will use it becuase it will help me with my future career.<br>
    Enjoy the website :)
</p>

{% endblock %}
