{% extends "layout.html" %}

{% block content %}

<head>
    <style>
        th, td {
            border: 1px solid black;
            padding: 5px;
        }

        table {
            border-spacing: 15px;
        }

        th, td {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<div class="select">
    <select id="type" onchange="myFunction()">
        <option>FRC robots in real life</option>
        <option>FRC team logos</option>
        <option>FRC competition logos</option>
    </select>
</div>
<div class="data">
    <table>
        <tr>
            <td>
                <img src="https://pbs.twimg.com/profile_images/1112356927428808705/bGEafJv4.png" width="300" height="300">
                <img src="https://i.pinimg.com/originals/b9/7c/c2/b97cc2700c09242a6531c40832ce34b8.jpg" width="300" height="300">
                <img src="https://pbs.twimg.com/profile_images/976488816037871617/vIjycDOo_400x400.jpg" width="300" height="300">
            </td>
            <td>
                <img src="https://i.pinimg.com/originals/b9/7c/c2/b97cc2700c09242a6531c40832ce34b8.jpg" width="300" height="300">
                <img src="https://d2t1xqejof9utc.cloudfront.net/screenshots/pics/545e3483915820811369399ac28e43f3/large.jpg" width="300" height="300">
                <img src="https://i.pinimg.com/originals/6e/9a/c0/6e9ac0edb9f9bf8792d1aaf7364b2f76.jpg" width="300" height="300">
            </td>
            <td>
                <img src="https://i.pinimg.com/236x/41/e8/dc/41e8dc138a8fa19a2ceb69cc8e80731d--cool-robots-robotics.jpg" width="300" height="300">
                <img src="https://www.hammerhead226.org/frc2019/img/FRC_2019_robot.jpg" width="300" height="300">
                <img src="https://www.chiefdelphi.com/uploads/default/original/3X/f/1/f133652489b8217a4b38038d24a0e6ab2b41dbbc.jpeg" width="300" height="300">
            </td>
        </tr>
    </table>
    <table style="display:none">
        <tr>
            <td>
                <img src="https://www.chiefdelphi.com/uploads/default/original/3X/a/3/a361b861e5bced554663504081220eed702e888f.png" width="300" height="300">
                <img src="https://pbs.twimg.com/profile_images/800808820767342592/UCktiwO6_400x400.jpg" width="300" height="300">
                <img src="https://pbs.twimg.com/profile_images/825455018249592832/kKl0oQ6a_400x400.jpg" width="300" height="300">
            </td>
            <td>
                <img src="https://cdn.rootaccess.org/static/img/logos/3303.f7f7f695b298.png" width="300" height="300">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQQYfx6vNwB9gCInOsLsmA_haIhJLE3EsXQDkCWySFHTsf-Yw5u" width="300" height="300">
                <img src="https://i.pinimg.com/280x280_RS/c5/5a/7e/c55a7edfe7a73eed6318b796b7d6e3dc.jpg" width="300" height="300">
            </td>
            <td>
                <img src="https://scontent-atl3-1.cdninstagram.com/v/t51.2885-19/s320x320/50835113_2592512537442621_544888546494775296_n.jpg?_nc_ht=scontent-atl3-1.cdninstagram.com&_nc_ohc=gBBihSygz94AX81dQxn&oh=8566f2b032c323cad10ff154f7f120d0&oe=5E8A0AF3" width="300" height="300">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTEyv8TFp7jVcJhZHPQE7lCgCBx2HYoVRHJinxZ6y14sHeVr0as" width="300" height="300">
                <img src="https://i.pinimg.com/280x280_RS/e9/97/f6/e997f6905b76676cac4bdb6ad08ac0f3.jpg" width="300" height="300">
            </td>
        </tr>
    </table>
    <table style="display:none">
        <tr>
            <td>
                <img src="https://upload.wikimedia.org/wikipedia/en/thumb/d/de/Aerial_Assist.svg/220px-Aerial_Assist.svg.png" width="300" height="300">
                <img src="https://www.firstinspires.org/sites/default/files/open-graph-first-logo.png" width="300" height="300">
                <img src="https://upload.wikimedia.org/wikipedia/en/thumb/c/ca/FIRST_Steamworks_Logo.svg/220px-FIRST_Steamworks_Logo.svg.png" width="300" height="300">
            </td>
            <td>
                <img src="https://upload.wikimedia.org/wikipedia/en/a/a5/Rebound_Rumble_Logo.png" width="450" height="300">
                <img src="https://upload.wikimedia.org/wikipedia/en/thumb/e/eb/Ultimate_Ascent_Logo.png/260px-Ultimate_Ascent_Logo.png" width="450" height="300">
            </td>
            <td>
                <img src="https://www.firstinspires.org/sites/default/files/uploads/frc/Blog/2019-frc-game-logo-small.jpg" width="300" height="300">
                <img src="https://www.firstinspires.org/sites/default/files/uploads/rightimage/infinite-recharge-web-promo_0.png" width="375" height="300">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fe/2018_FIRST_Power_Up_game_logo.svg/220px-2018_FIRST_Power_Up_game_logo.svg.png" width="300" height="300">
            </td>
        </tr>
    </table>
</div>
<script>
    function myFunction() {
        var x = document.getElementById('type');
        tables = document.getElementsByClassName("data");
        var opt = x.selectedIndex;
        for (i = 0; i < 3; i++) {
            table = tables[0].getElementsByTagName("table")[i];
            if (opt != i) {
                
                table.style.display = "none";
            } else {
                table.style.display = "block";
            }
        }
    }
</script>

{% endblock %}
