{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>FRC Scouting Analyzer</h1>
    <p class="lead">The FRC Scouting Analyzer is a free validity checker for any and all frc teams <br> which are interested in checking the validity of their data against blue alliance.</p>
    <p><a href="https://www.thebluealliance.com/" class="btn btn-primary btn-large">Blue Alliance - Data Baseline &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            This website allows you to check the validity of the information which your scouting
            team has obtained during the various competitions. Go to the data tab in order to 
            begin the validation process. 
        </p>
        <p><a class="btn btn-default" href="{{ url_for('datamodel') }}">Start Analyzing &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>The blue alliance blog</h2>
        <p>The blue alliance blog proved bery helpfull in making this website and is very insightfull</p>
        <p><a class="btn btn-default" href="https://blog.thebluealliance.com/">The blue alliance blog &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>notable libraries</h2>
        <p>This website uses team 1418's tbapy, a library which allows you to use the blue alliance api in python</p>
        <p><a class="btn btn-default" href="https://github.com/frc1418/tbapy">github &raquo;</a></p>
    </div>
</div>

{% endblock %}
