{% extends "layout.html" %}

{% block content %}

<head>
    <style>
        th, td {
            border: 1px solid black;
            padding: 5px;
        }

        table {
            border-spacing: 15px;
        }

        th, td {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<div class="select">
    <select id="type" onchange="myFunction()">
        <option>rubber ducks</option>
        <option>cooked ducks</option>
        <option>realistic ducks</option>
    </select>
</div>
<div class="data">
    <table>
        <tr>
            <td>
                <img src="https://gitduck.com/blog/content/images/2019/10/IMG_7540.jpeg" width="300" height="200">
                <img src="https://miro.medium.com/max/4000/0*FIAyDFXvSmRwx_IC.jpg" width="300" height="200">
                <img src="https://img.devrant.com/devrant/rant/r_577956_qnoVy.jpg" width="300" height="200">
            </td>
            <td>
                <img src="https://images-na.ssl-images-amazon.com/images/I/41Q1sEjo0hL._AC_SL1050_.jpg" width="250" height="200">
                <img src="https://static.turbosquid.com/Preview/2019/03/17__15_04_35/DUCK.15.jpg8194FBC4-BA41-46DB-BD2C-3128354FD922Zoom.jpg" width="375" height="200">
                <img src="https://images-na.ssl-images-amazon.com/images/I/8166xCVDGnL._SL1500_.jpg" width="275" height="200">
            </td>
            <td>
                <img src="https://miro.medium.com/max/1600/0*EioKv4ItPYZoatSL.jpg" width="300" height="200">
                <img src="https://pbs.twimg.com/media/DdfjFpyVAAAK8-A.jpg" width="375" height="200">
                <img src="https://img.devrant.com/devrant/rant/r_462900_N172i.jpg" width="225" height="200">
            </td>
        </tr>
    </table>
    <table style="display:none">
        <tr>
            <td>
                <img src="https://www.bbcgoodfood.com/sites/default/files/recipe-collections/collection-image/2013/05/roast-spiced-duck-with-plums.jpg" width="300" height="200">
                <img src="https://i.pinimg.com/474x/c1/2d/57/c12d5758cc6afb2a4cd87ee8dea08446--my-recipes-duck-recipes-whole.jpg" width="300" height="200">
                <img src="https://www.bbcgoodfood.com/sites/default/files/guide/guide-image/2017/11/chinese-duck-with-peaches.jpg" width="300" height="200">
            </td>
            <td>
                <img src="https://www.bbcgoodfood.com/sites/default/files/styles/recipe/public/recipe/recipe-image/2016/07/twice-cooked-sticky-duck.jpg?itok=Mj4-m2Pc" width="250" height="200">
                <img src="https://www.tnp.sg/sites/default/files/styles/image_embed/public/np_20170803_makan03-mxe_1600620.jpg?itok=BPcFD-F2" width="375" height="200">
                <img src="http://www.mapleleaffarms.com/lib/sitefiles/Image/WholeDuck_v1%20copy.jpg" width="275" height="200">
            </td>
            <td>
                <img src="https://theneffkitchen.com.au/wp-content/uploads/2017/03/NEFF-Twice-cooked-duck-featured.jpg" width="300" height="200">
                <img src="https://s3.amazonaws.com/finecooking.s3.tauntonclud.com/app/uploads/2017/04/19003057/fc62kt072-05-main.jpg" width="375" height="200">
                <img src="https://food.fnr.sndimg.com/content/dam/images/food/fullset/2014/6/19/1/IG1B16_Roast-Duck_s4x3.jpg.rend.hgtvcom.616.462.suffix/1403627915473.jpeg" width="225" height="200">
            </td>
        </tr>
    </table>
    <table style="display:none">
        <tr>
            <td>
                <img src="https://upload.wikimedia.org/wikipedia/commons/a/a1/Mallard2.jpg" width="300" height="200">
                <img src="https://images.unsplash.com/photo-1459682687441-7761439a709d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" width="300" height="200">
                <img src="https://audubonportland.org/wp-content/uploads/2019/03/Mallard-by-Flickr-User-Linda-on-the-Bridge-to-NewWhere-1024x652.jpg" width="300" height="200">
            </td>
            <td>
                <img src="https://unfspinnaker.com/wp-content/uploads/2019/08/white-duck-4174862_960_720.jpg" width="300" height="200">
                <img src="https://vignette.wikia.nocookie.net/animalsimulator/images/2/2d/Duck.jpg/revision/latest?cb=20190807204556" width="350" height="200">
                <img src="https://upload.wikimedia.org/wikipedia/commons/3/3f/Amerikanische_Pekingenten_2013_01%2C_cropped.jpg" width="250" height="200">
            </td>
            <td>
                <img src="https://www.atwoods.com/media/catalog/product/cache/207e23213cf636ccdef205098cf3c8a3/9/7/9730300.png" width="300" height="200">
                <img src="https://cms.prod.nypr.digital/images/297736/fill-661x496/" width="375" height="200">
                <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/gettyimages-153946484-1-1575996437.jpg?crop=0.597xw:0.896xh;0.199xw,0.0338xh&resize=480:*" width="225" height="200">
            </td>
        </tr>
    </table>
</div>
<script>
    function myFunction() {
        var x = document.getElementById('type');
        tables = document.getElementsByClassName("data");
        var opt = x.selectedIndex;
        for (i = 0; i < 3; i++) {
            table = tables[0].getElementsByTagName("table")[i];
            if (opt != i) {
                
                table.style.display = "none";
            } else {
                table.style.display = "block";
            }
        }
    }
</script>

{% endblock %}
